.root {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  height: 45px;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: 1px solid;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.default {
  color: #ffffff;
  border-color: #7178ff;
  background-color: #7178ff;
}

.white {
  color: #7178ff;
  border-color: #7178ff;
  background-color: #ffffff;
}

.transparent {
  color: white;
  border-color: white;
  background-color: transparent;
}

.facebook {
  color: white;
  border-color: #4267B2;
  background-color: #4267B2;
}

.root:active {
  position: relative;
  top: 3px;
}
